.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all ease 0.5s !important;

  svg {
    transform: rotate(180deg);
  }
}

.container:hover {
  svg {
    path {
      fill: var(--auxan);
    }
  }
}