
.content {
  max-width: 371px;
  padding: 20px;
  border-radius: 20px;

}

.title {
  //styleName: H2;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.4px;
  text-align: right;
  margin-bottom: 10px;
}

.subTitle {
  //styleName: P3;
  font-size: 12px;
  font-weight: 325;
  line-height: 18.6px;
  text-align: right;
  direction: rtl;
  margin-bottom: 10px;
}