.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--auxan);
  padding: 10px 0;

  p {
    direction: rtl;
    text-align: center;
    font-size: .8rem;
    color: var(--black);
  }
}